body{
   background: linear-gradient(to top, #ccccff 0%, #6699ff 100%);

}

div#heading{
  max-width:500px;
   
  margin: auto;
  text-align: center;
  font-family:Verdana;
font-size: 17px;


}

form{  
 max-width:70%;
  padding:5px;
  margin: auto; 
}

label,legend{
  display: block;
  margin: 0.5rem 0;
  font-family: Times New Roman;
font-size: 19px;
font-weight:bold;
}

input,select,textarea{
  margin-top: 5px;
  width: 100%;
  min-height: 2em;
  border:none;
  background: linear-gradient(to bottom right, #ffffff 36%, #99ccff 100%);
   /*background: linear-gradient(to top, #ccccff 0%, #6699ff 100%);*/
font-family: Times New Roman;
font-size: 16px;
}


/*Get radio button and chceckbox in same line with label*/
.inline {
  width:auto;
  margin: auto;
  vertical-align: middle;
}

input[type="submit"]{
 display: block;
  width: 80%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background: #3b3b4f;
  min-width: 300px;
  color:white;

}
